<div class="row">
<div class="col-md-4">

    <div class="jumbotron">
    <div class="thumbnail">
     <img id="fn" style=" width:100%" src="/assets/first.jpg" alt="">
        <div class="caption">
    Signs Proves You Are Lucky. I’ve heard many people saying- I am too unlucky, my luck doesn’t support me, that person is rich because he is lucky, that person is not successful because he/she is unlucky, she always tops in the class- what a lucky girl, oh man he has such a cute girlfriend-what a lucky man. Like seriously, all of it happens because of luck. No, I don’t think so. I do believe that we create our own luck and lack of it.

    Luck depends on how quick we are towards the opportunity. How much desire, passion we have related to something. Luck depends on how open we are towards taking chances and how quick we are towards making decisions. Luck depends on our decisions and believes. If you always play safe, even after getting opportunities, still you stick to that same place, and later crib that you are unlucky, your friends are doing great compared to you, and all of it is happening because you are unlucky or because they are lucky. Then this attitude is something which makes you unlucky. Not accepting your fault and responsibilities is what makes you Unlucky, not working hard; not being alert for opportunities is what makes you unlucky.
    
    In this world Every individual faces different phases of life- All go through many ups and downs, but people who give up and gets defeated by those problems are the ones who are unlucky- because they don’t have fighting spirit (and these are the actual people who always have a belief that others don’t have problems, God is making them suffer, God has made them unlucky) But the actual fact is Every individual faces problems some gets defeated and some defeats those problems and shine. People who fight with problems are usually the one who shines and become something great in life.
    </div>
</div>
</div>
</div>


<div class="col-md-4">
    <div class="jumbotron">
    <div class="thumbnail">
    <img style="width:100%" src="/assets/second.jpg" alt="">Signs Proves You Are Lucky. I’ve heard many people saying- I am too unlucky, my luck doesn’t support me, that person is rich because he is lucky, that person is not successful because he/she is unlucky, she always tops in the class- what a lucky girl, oh man he has such a cute girlfriend-what a lucky man. Like seriously, all of it happens because of luck. No, I don’t think so. I do believe that we create our own luck and lack of it.

    <div class="caption">
    Luck depends on how quick we are towards the opportunity. How much desire, passion we have related to something. Luck depends on how open we are towards taking chances and how quick we are towards making decisions. Luck depends on our decisions and believes. If you always play safe, even after getting opportunities, still you stick to that same place, and later crib that you are unlucky, your friends are doing great compared to you, and all of it is happening because you are unlucky or because they are lucky. Then this attitude is something which makes you unlucky. Not accepting your fault and responsibilities is what makes you Unlucky, not working hard; not being alert for opportunities is what makes you unlucky.
    
    In this world Every individual faces different phases of life- All go through many ups and downs, but people who give up and gets defeated by those problems are the ones who are unlucky- because they don’t have fighting spirit (and these are the actual people who always have a belief that others don’t have problems, God is making them suffer, God has made them unlucky) But the actual fact is Every individual faces problems some gets defeated and some defeats those problems and shine. People who fight with problems are usually the one who shines and become something great in life.
        </div>
</div>
</div>
</div>

<div class="col-md-4">


    
<div class="thumbnail">
    <div class="jumbotron">
       <img  style="width:100%" src="/assets/third.jpg" alt="">Signs Proves You Are Lucky. I’ve heard many people saying- I am too unlucky, my luck doesn’t support me, that person is rich because he is lucky, that person is not successful because he/she is unlucky, she always tops in the class- what a lucky girl, oh man he has such a cute girlfriend-what a lucky man. Like seriously, all of it happens because of luck. No, I don’t think so. I do believe that we create our own luck and lack of it.

                <div class="caption">
                    Luck depends on how quick we are towards the opportunity. How much desire, passion we have related to something. Luck depends on how open we are towards taking chances and how quick we are towards making decisions. Luck depends on our decisions and believes. If you always play safe, even after getting opportunities, still you stick to that same place, and later crib that you are unlucky, your friends are doing great compared to you, and all of it is happening because you are unlucky or because they are lucky. Then this attitude is something which makes you unlucky. Not accepting your fault and responsibilities is what makes you Unlucky, not working hard; not being alert for opportunities is what makes you unlucky.
    
                    In this world Every individual faces different phases of life- All go through many ups and downs, but people who give up and gets defeated by those problems are the ones who are unlucky- because they don’t have fighting spirit (and these are the actual people who always have a belief that others don’t have problems, God is making them suffer, God has made them unlucky) But the actual fact is Every individual faces problems some gets defeated and some defeats those problems and shine. People who fight with problems are usually the one who shines and become something great in life.
        </div>
    </div>
  </div>
</div>

</div>
